<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForChat</title>
    <link rel="stylesheet" href="../Style/ForChat.css">
</head>

<body>
    <div class="container">
        <div class="contact-section">
            <!--Header Section Where profile photo appear-->
            <div class="header">
                make header here
                "For Aakash"
            </div>

            <!--Contect and Search box Appear Here-->
            <div class="container-contact">
                make search box and contact list
                "I Will Do it"
            </div>
        </div>
        <!--Contact Section End Here!-->


        <!--Message Section Start Here Where Messeges Were Send and Displayed-->
        <div class="message-section">
            <div class="chat-header">
                make Chat Header Code Here!
                "Aakash Bansal"
            </div>

            <div class="chats-exchange">
                Make sent and recieved chats code!
                "For Himanshu"
            </div>

            <div class="chat-footer">
                Here make chat footer which contain input box and some buttons
                "For Dikshak"
            </div>
        </div>
    </div>
</body>

</html>
