<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForChat</title>
    <link rel="stylesheet" href="../Style/ForChat.css">
    
</head>

<body>
    
        <div class="contact-section">
            <!--Header Section Where profile photo appear-->
            <div class="header">
                make header here
                "For Aakash"
            </div>

            <!--Contect and Search box Appear Here-->
            <div class="container-contact">
                make search box and contact list
                "I Will Do it"
            </div>
        </div>
        <!--Contact Section End Here!-->


        <!--Message Section Start Here Where Messeges Were Send and Displayed-->
        <div class="message-section">
            <div class="head"><img class="psn-img" src="person.png" alt="">
                <span class="name">lorem</span>
            </div>
        
            <div class="msg-container">
                <div class="message right">hi</div>
                <div class="message right">hi</div>
                <div class="message right">hi</div>
                <div class="message right">hi</div>
                <div class="message right">hi</div>
                <div class="message right">hi</div>
                <div class="message right">hi</div>
                
                <div class="message left">hello</div>
                <div class="message left">hello</div>
                <div class="message left">hello</div>
                <div class="message right">hi</div>
                <div class="message right">hi</div>
                <div class="message right">hi</div>
            </div>
            
            <div class="foot">
                <form action="" class="txt-box">
                    <input class="text-box" type="text" placeholder="Message">
                    <button class="send-btn"><img class="send-img" src="send.png" alt=""></button>
                </form>
                
            
            </div>
        </div>
        
    
</body>

</html>
