<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>

<body>
    <div class="container">
        <div class="form-container signin-container">
            <form action="">
                <h1>Create Account</h1>
                <input type="text" class="user-name" placeholder="Name">
                <input type="email" class="user-email" placeholder="Email">
                <input type="password" class="user-password" placeholder="Password">
                <button class="button-sign-up">SIGNUP</button>
            </form>

            <form action="">
                <h1>Welcome Back!</h1>
                <p class="message">To keep connected with your friends please login with your personal info</p>
                <button class="buttonn-sign-in">SIGNIN</button>
            </form>
        </div>

        <div class="form-container signup-container">
            <form action="">
                <h1>Sign In</h1>
                <input type="email" class="user-email" placeholder="Email">
                <input type="password" class="user-password" placeholder="Password">
                <button class="button-sign-in">SIGNIN</button>
            </form>

            <form action="">
                <h1>Hello Friend!</h1>
                <p class="message">To get started with your friends start your journey with us </p>
                <button class="buttonn-sign-in">SIGNIN</button>
            </form>
        </div>
    </div>
</body>

</html>