<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="../Style/SignUp.css">
    <script src="../Script/SignUp.js"></script>
</head>

<body>
    <div class="container">
        <div class="form-container" style="display: grid; grid-template-columns: 1fr 1fr;">
            <!--Sign In and Sign Up Forms are started here-->
            <form action="" class="form-sign-up">
                <h1>Create Account</h1>
                <input type="text" class="user-name" placeholder="Name" required>
                <input type="email" class="user-email" placeholder="Email" required>
                <input type="password" class="user-password" placeholder="Password" required>
                <button class="button-sign-up">SignUp</button>
            </form>

            <form action="" class="form-sign-in">
                <h1>Sign In</h1>
                <input type="email" class="user-email" placeholder="Email" required>
                <input type="password" class="user-password" placeholder="Password" required>
                <button class="button-sign-in">SignIn</button>
            </form>

        </div>

        <!--From Here Moving/Sliding Message Start-->
        <div class="slider-container" style="display: grid; grid-template-columns: 1fr 1fr;">
            <!--This has to be Shown on top of Sign-up Form   -->
            <form action="" class="slider-left">
                <h1>Hello Friend!</h1>
                <p class="message">To get started with your friends start your journey with us </p>
                <button class="buttonn-sign-in">SignUp</button>
            </form>

            <!--This has to be Shown on top of Sign-in Form    -->
            <form action="" class="slider-right">
                <h1>Welcome Back!</h1>
                <p class="message">To keep connected with your friends please login with your personal info</p>
                <button class="buttonn-sign-in">SignIn</button>
            </form>

        </div>
    </div>
</body>

</html>