.photo {
  width:40px ;
  padding-top : 9px;
  margin : 20px;  
}
.d {
  width : 30 px ;
}
.d{
  margin-right :20px;
}
.i{
  display : flex;
  float: left ;
  overflow: hidden;
  width : 60% ;
}


.d,.f{
  width: 20px;
}
.chat-header {
  display : flex;
  width:40%;
  align-items : center;
  height: 60px;
  justify-content : space-between ;
  flex-direction : row ;
  background: #ededed;
  padding: 0 15px;
  overflow : hidden ;
}
