.photo {
  width:40px ;
  padding-top : 9px;
  margin : 20px;  
}

.image{
  display : flex;
  float: left ;
  overflow: hidden;
  width : 60% ;
}

.chat-header {
  position:fixed;
  display : flex;
  width:40%;
  align-items : center;
  height: 60px;
  justify-content : space-between ;
  flex-direction : row ;
  background: #ededed;
  padding: 0 15px;
  overflow : hidden ;
}

i{
  margin-left: 20px;
}
