.dp {
  margin : auto ;
  width:40px ;
  height : 40px;
  padding-top : 9px;
}

.header {
  position : fixed ;
  display : flex;
  width:40%;
  align-items : center;
  height: 60px;
  justify-content : space-between ;
  flex-direction : row ;
  background: #ededed;
  padding: 0 15px;
  overflow : hidden ;
}
i{
  margin-left: 30px ;
}
