{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForChat</title>
    <link rel="stylesheet" href="{% static 'style/ForChat.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="main-container">
        <div class="contact-section">
            <!--Header Section Where profile photo appear-->
            <div class="head contact-head">
                <div class=user-img>
                    <img class="dp" src=" https://www.codewithfaraz.com/InstaPic.png" alt="guest user" />
                </div>
                <div class="icons">
                    <a class="material-symbols-outlined" aria-hidden="true">mail</a>
                    <a class="material-symbols-outlined" aria-hidden="true">more_vert</a>
                </div>
            </div>

            <!--Contect and Search box Appear Here-->
            <div class="container-contact">
                <div class="container-search">
                    <input type="text" class="search-box" placeholder="Search">
                </div>

                <!--Contact list is show in this container-->
                <div class="contact-list">
                    <!--Here start contacts and messages-->
                    <div class="contact">
                        <div class="contact-img">
                            <img src="{% static 'demo_img/person.png' %}" alt="profile_img" class="contact-profile-img">
                        </div>
                        <div class="detail">
                            <div class="contact-name">
                                <p>Alok Gaur</p>
                            </div>
                            <div class="contact-message">
                                <p>Hello how are you bro!</p>
                            </div>
                        </div>
                        <div class="message-time">
                            <p>03:40 pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Contact Section End Here!-->


        <!--Message Section Start Here Where Messeges Were Send and Displayed-->
        <div class="message-section">
            <div class="head"><img class="psn-img" src="{% static 'demo_img/person.png' %}" alt="">
                <span class="name">lorem</span>
            </div>

            <div class="msg-container">
                <div class="message right">hi</div>
                <div class="message left">hello</div>
            </div>

            <div class="foot">
                <form action="" class="txt-box">
                    {% csrf_token %}
                    <input class="text-box" type="text" placeholder="Message">
                    <button class="send-btn"><img class="send-img" src="{% static 'demo_img/send.png' %}"
                            alt=""></button>
                </form>

            </div>
        </div>
    </div>


</body>

</html>