{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForChat</title>
    <link rel="stylesheet" href="{% static 'style/ForChat.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    {% if user.is_authenticated %}
    <input type="hidden" value="{{user.id}}" id="logged-in-user">
    <!-- <p>{{user.id}}</p> -->
    {% endif %}
    <div class="main-container">
        <div class="contact-section">
            <!--Header Section Where profile photo appear-->
            <div class="head contact-head">
                <div class=user-img>
                    <img class="dp" src=" https://www.codewithfaraz.com/InstaPic.png" alt="{{ user.username }}" />
                    <!-- <p class="username" style="display: inline;">{{user.username}}</p> -->
                </div>
                <div class="username">{{user.username}}</div>
                <div class="logout-btn-container">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <button class="logout-btn" type="submit">Log out</button>
                    </form>
                </div>
            </div>

            <!--Contect and Search box Appear Here-->
            <div class="container-contact">
                <div class="container-search">
                    <input type="text" class="search-box" placeholder="Search">
                </div>

                <!--Contact list is show in this container-->
                <div class="contact-list">
                    <!--Here start contacts and messages-->
                    {% for thread in Threads %}
                    <div class="contact {% if forloop.first %}active{% endif %}" chat-id="chat_{{thread.id}}">
                        <div class="contact-img">
                            <img src="{% static 'demo_img/person.png' %}" alt="profile_img" class="contact-profile-img">
                        </div>
                        <div class="detail">
                            <div class="contact-name">
                                {% if thread.first_person == user %}
                                <p>{{thread.second_person.username}}</p>
                                {% else %}
                                <p>{{thread.first_person.username}}</p>
                                {% endif %}
                            </div>
                            <div class="contact-message">
                                <p>{{ thread.chatmessage_thread.last.message |truncatechars:25 }}</p>
                            </div>
                        </div>
                        <div class="message-time">
                            <p>{{ thread.chatmessage_thread.last.timestamp|date:"P" }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--Contact Section End Here!-->

        <div class="message-section-container" style="position: relative;">
            {% for thread in Threads %}
            <!--Message Section Start Here Where Messeges Were Send and Displayed-->
            <div class="message-section {% if forloop.first %}hide is_active{% else %}hide{% endif %}"
                style="position: absolute;" chat-id="chat_{{ thread.id }}" other-user-id="
            {% if thread.first_person == user %}
                {{ thread.second_person.id }}
            {% else %}
                {{ thread.first_person.id }}
            {% endif %}
        ">
                <div class="head"><img class="psn-img" src="{% static 'demo_img/person.png' %}" alt="">
                    <span class="name">
                        {% if thread.first_person == user %}
                        {{ thread.second_person.username }}
                        {% else %}
                        {{ thread.first_person.username }}
                        {% endif %}
                    </span>
                </div>

                <div class="msg-container">
                    {% for chat in thread.chatmessage_thread.all %}
                    {% if chat.user == user %}
                    <div class="message right">{{chat.message}}
                        <div class="msg-time">{{chat.timestamp|time:'P'}}</div>
                    </div>
                    {% else %}
                    <div class="message left">{{chat.message}}
                        <div class="msg-time">{{chat.timestamp|time:'P'}}</div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>


            </div>
            {% endfor %}
            <div class="foot">
                <form action="" class="txt-box" id="sent-form">
                    {% csrf_token %}
                    <input class="text-box input-message" type="text" placeholder="Message">
                    <button class="send-btn" type="submit"><img class="send-img" src="{% static 'demo_img/send.png' %}"
                            alt=""></button>
                </form>

            </div>
        </div>
    </div>
    <script src="{% static 'script/ForChat.js' %}"></script>

</body>

</html>