{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{% static 'style/SignUp.css' %}">

</head>

<body>
    {% if messages %}
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
    {% endif %}
    <div class="container" id="main">

        <div class="form-container sign-up-container">
            <form action="" method="post">
                {%csrf_token%}
                <h1 class="su">Create Account</h1>


                <input type="text" name="username" placeholder="Name" required="">
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="pswd" placeholder="Password" required="">
                <input type="password2" name="pswd2" placeholder="Re-Enter Password" required>
                <button class="bsu">Sign Up</button>
                <input type="hidden" name="form_type" value="signup">
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="" method="post">
                {%csrf_token%}
                <h1 class="head">Sign in</h1>


                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="pswd" placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <button>Sign In</button>
                <input type="hidden" name="form_type" value="signin">
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn" onclick="">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp" onclick="">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'script/SignUp.js' %}"></script>
</body>

</html>